<nav class="navbar navbar-page navbar-expand-xl  navbar-light fixed-top">
  <div class="container-fluid d-flex navbar-white-bg w-100 h-100">
    <button class="navbar-toggler collapsed" (click)="toggleCollapsed()" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent">
      <i class="fas fa-bars"></i>
    </button>
    <div class="navbar-collapse collapse" [ngClass]="{'collapse': collapsed, 'navbar-collapse': true}" id="navbarSupportedContent">
      <ul class="navbar-nav nav-fill w-100">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/home']">home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/whats-on']">whats on</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/the-walks']">the walks</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/shop']">shop</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/plan']">plan your visit</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/about']">about</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/contact']">contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

