.navbar-page{
  padding-left: 0 !important;
  padding-right: 0 !important;
  padding-top: 0 !important;
}

.navbar-white-bg {
  background-color: rgba(255, 255, 255, 0.8);
  padding-left:0;
}

.nav-item {
  padding-top: 1%;
  padding-bottom: 1%;
}

.nav-link {
  font-size: 3vw !important;
  text-decoration: none;
  color: black !important;
  transition: 0.3s;
  padding:0 !important;
  font-weight: 200;
}

.nav-link:visited {
  color:black !important;
}

.nav-link:hover {
  color:dimgrey;
}

.navbar-toggler {
  background-color: rgb(255, 255, 255) !important;
  border-radius: 0;
  padding-top: 2vh;
  padding-bottom: 2vh;
  padding-left: 2vh;
  padding-right: 2vh;
  color: black !important;
}



@media screen and (max-width:1450px) {
  .nav-item {
    padding: 1% 0;
  }
}

@media screen and (min-width:992px) {
  .nav-item>a {
    font-size: 1.5vw !important;
  }
}


