@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~@fortawesome/fontawesome-free/css/fontawesome.min.css';

@font-face {
  font-family: 'IvyMode';
  src: url(./assets/fonts/IvyMode-Thin.ttf);
  font-style: normal;
  font-weight: 100;
}

@font-face {
  font-family: 'IvyMode', serif;
  src: url(./assets/fonts/IvyMode-Light.ttf);
  font-style: normal;
  font-weight: 200;
}

@font-face {
  font-family: 'IvyMode', serif;
  src: url(./assets/fonts/IvyMode-Regular.ttf);
  font-style: normal;
  font-weight: 300;
}

body {
  font-family: 'IvyMode', serif !important;
  font-weight: 300;
  width: 100%;

}

.container-fluid{
  padding:0 !important;
}

html {
  overflow-x: hidden;
}

.bs-btn{
  padding: 0 30px 1px 30px;
  font-weight: 100 !important;
  color: white;
  font-size: 5vh;
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
}

.bs-btn-div{
  margin-top: 2%;
}

.bs-btn-grey {
  border-color: #242424;
  background-color: #242424;
}

.bs-btn-white {
  border-color: black;
  background-color: white;
  color: black;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.page-header-img {
  height: 90vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%, 50%;
}

.page-header-text {
  text-transform: uppercase;
  font-size: 10vh !important;
  color: white !important;
  font-weight: 100 !important;
  text-align: center;
}

.page-title{
  text-align: center;
  font-size: 3.5em;
}

.page-content {
  font-size: 1.7rem;
  width: 65%;
  margin: auto;
  margin-bottom:5vw;
}





