<div class="page-header-img mb-5" style="background-image: url(../../assets/images/heading/the-walks.jpg);">
  <div class="center">
    <h1 class="page-header-text">the walks</h1>
  </div>
</div>
<div class="page-content">
  <div class="mb-5">
    <h1 class="page-title">About the Walks</h1>
  </div>
  <div class="intro-text-div mb-5">
    <p class="intro-text">The Brontë Stones are a group of stones placed in the landscape between the birthplace of the
      Brontë family in
      Thornton and the parsonage where they wrote their famous work in Haworth. A walk has been devised for each stone
      where you will learn the history behind each character.</p>
  </div>
  <div class="d-flex row pt-5 pb-5">
    <div class="d-flex flex-column justify-content-around col-6">
      <h1 class="text-center walk-title">BRONTË<br>WALK</h1>
      <p class="text-center">Learn more about the Brontë Walk, the stone and what you will find along
        the walk.</p>
      <div class="bs-btn-div m-auto">
        <button class="bs-btn bs-btn-walks bs-btn-grey m-auto" [routerLink]="['/the-walks/bronte-walk']">read more
        </button>
      </div>
    </div>
    <div class="d-flex justify-content-center col-6">

      <img class="m-auto"
           src="../../assets/images/the-walks-bronte.jpg"
           alt="Bronte Stone and Dog">
    </div>
  </div>
  <div class="d-flex row pt-5 pb-5">
    <div class="d-flex justify-content-center col-6">

      <img class="m-auto"
           src="../../assets/images/the-walks-anne.jpg"
           alt="Bronte Stone and Dog">
    </div>
    <div class="d-flex flex-column justify-content-around col-6">
      <h1 class="text-center walk-title">ANNE<br>WALK</h1>
      <p class="text-center">Learn more about the Anne Walk, the stone and what you will find along
        the walk.</p>
      <div class="bs-btn-div m-auto">
        <button class="bs-btn bs-btn-walks bs-btn-grey m-auto" [routerLink]="['/the-walks/anne-walk']">read more
        </button>
      </div>
    </div>
  </div>
  <div class="d-flex row pt-5 pb-5">
    <div class="d-flex flex-column justify-content-around col-6">
      <h1 class="text-center walk-title">CHARLOTTE<br>WALK</h1>
      <p class="text-center">Learn more about the Charlotte Walk, the stone and what you will find along
        the walk.</p>
      <div class="bs-btn-div m-auto">
        <button class="bs-btn bs-btn-walks bs-btn-grey m-auto" [routerLink]="['/the-walks/charlotte-walk']">read more
        </button>
      </div>
    </div>
    <div class="d-flex justify-content-center col-6">

      <img class="m-auto"
           src="../../assets/images/the-walks-charlotte.jpg"
           alt="The Charlotte Stone">
    </div>
  </div>
  <div class="d-flex row pt-5 pb-5">
    <div class="d-flex justify-content-center col-6">

      <img class="m-auto"
           src="../../assets/images/the-walks-emily.jpg"
           alt="Bronte Stone and Dog">
    </div>
    <div class="d-flex flex-column justify-content-around col-6">
      <h1 class="text-center walk-title">EMILY<br>WALK</h1>
      <p class="text-center">Learn more about the Emily Walk, the stone and what you will find along
        the walk.</p>
      <div class="bs-btn-div m-auto">
        <button class="bs-btn bs-btn-walks bs-btn-grey m-auto" [routerLink]="['/the-walks/emily-walk']">read more
        </button>
      </div>
    </div>
  </div>
  <div class="text-center pt-5 d-flex flex-column justify-content-around tour-div">
    <div>
      <h1 class="walk-title">Book a Guided Tour</h1>
    </div>
    <div>
      <p>Book a guided tour and embark on a journey through the history of the
        Bronte family</p>
    </div>
    <div class="bs-btn-div m-auto">
      <button class="bs-btn bs-btn-walks bs-btn-grey m-auto" [routerLink]="['/shop']">read more
      </button>
    </div>
  </div>
</div>

